body{
    color: white;
    background-color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 16px;

}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 250px;
    height: 250px;
    border-radius:50%;
    border: 5px solid aqua;
}

.center{
    text-align: center;
}

footer img{
    width: 60px;
    height: 60px;

}

footer{
    display: flex;
    justify-content:center;
}

footer a{
    margin: 30px;
    text-align: center;
}

footer p{
    margin-top: 2px;
}

.container{
    padding: 0px 50px;
}
nav a:hover{
    color:aqua
}

header h1{
    text-align: center;
    color:aqua;
}

header h2{
    text-align: center;
}